extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
            h1=title 
            h2 Appy
          p Appy

    section(class="main-content")
      h3 APPY Go OUT BEFoRE you Go OUT
      p We Are APPY.
