extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title

    section(class="main-content")
      h3 We suggest the following:
      ol(class="round")
          li(class="one")
              h5 Use API
          li(class="two")
              h5 Use API to fetch data from social medias

          