doctype html
html
  head
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/modernizr.js')
    
    block head
    
  body   
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
            a(href="/") your logo here
        div(class="float-right")
          section#login
            ul
                li Welcome!

          nav
            ul#menu
              li 
                a(href="/") Home

    #body
        block content
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="http://facebook.com/appyapp", class="facebook") Facebook